.nav-back{
    background-color:orange;
}

.foot-back{
    background-color:orange;
}

ul{
    list-style: none;
}

.history-text{
    text-align: justify;
}

h1{
    font-weight: bold;
}

.orange-text, h2{
    color: orange;
    font-weight: bold;
}

.orange-line{
    height: 5px;
    width: 99%;
    background-color: orange;
    margin: auto;
    border-radius:10px;
}

@media (max-width: 768px){
    h2, h3{
        font-size:20px;
    }

    .d-li li, .text-p{
        font-size:16px;
    }
}

@media (max-width: 576px){
    .d-li li, .text-p{
        font-size:14px;
    }

    h2,h3{
        font-size:18px;
    }
}
